<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      Esta tienda virtual para mascotas esta destinada a todo el público en general, encontraras muchas cosas, registrate y podrás enterarte de mucho más...
    </p>
  </div>
</section>
