   <img
        class="rounded-circle mx-auto d-block logo m-4"
        src="/img/cabecera.png"
        alt="Logo"
      />
<div class="card card-body p-5 mt-4">
  <h1 class="display-4">¡BIENVENIDO A UNA TIENDA VIRTUAL PARA MASCOTAS!</h1>
  <p class="lead">Ud. necesitar registrarse para poder acceder.</p>
  <hr class="my-4" />
  <p>Click en el boton de abajo para obtener una cuenta...
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Registrar</a>
  </div>
</div>