
  
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Hola!!! {{user.name}}</h1>
      <p clsss="lead">No tienes notas aún.</p>
      <a href="/notes/--" class="btn btn-success btn-block">¡Crea una!</a>
    </div>
  </div>
 
</div>